@*// SPDX-License-Identifier: AGPL-3.0-only
// Copyright (C) 2025 Younes Benmoussa <benzsoftware@pm.me>
// 
// This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
// This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
// You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>. 
*@

@model BitCrafts.Certificates.Controllers.SetupViewModel
@{
    ViewData["Title"] = "Initial Setup";
}

<h1>Initial Setup</h1>
<p>Please provide the base intranet domain. This will be used to create the Root CA.</p>

<form asp-action="Index" method="post">
    <div class="mb-3">
        <label asp-for="Domain" class="form-label"></label>
        <input asp-for="Domain" class="form-control" placeholder="home.lan" />
        <span asp-validation-for="Domain" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save and Initialize</button>
</form>

<partial name="_ValidationScriptsPartial" />
